@import "boostrap-custom";
@import "bootstrap";

.form-text {
  padding-top: $padding-base-vertical+1px;
  border-color: $input-bg!important;
  @include box-shadow(inset 0 1px 1px $input-bg);
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
