<div class="container">

    {{main-nav}}


<h2 id="title">Welcome to Ember.js</h2>
<button class="btn btn-danger">Test Button</button>
<button class="btn btn-primary">Test Button</button>

{{outlet}}

</div>
