<h1>Contacts</h1>

<p>Database size: {{model.length}}</p>
<p>Contacts with email: {{contactsWithEmail}}</p>

{{contacts/add-contact-form action='addNewContact'}}

{{contacts/contact-table model=model}}
