<h2 id="title">Home Page</h2>

<button {{action "generateDummyList"}} class="btn btn-info">Generate 1000 random record</button>
<button {{action "deleteAll"}} class="btn btn-danger">Delete All</button>
<p>Size: {{model.length}}</p>